{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"overrides": [
		{
			"files": "*.{yml,yaml}",
			"options": {
				"singleQuote": false,
				"useTabs": false
			}
		}
	]
}
