<svelte:head>
	<title>Home | Petracord</title>
</svelte:head>

<div class="container">
	<div class="background" />
	<div class="hero" style="grid-row-start: 1">
		<a href="/invite" target="_blank" rel="noreferrer" class="landing-card">
			<h1>Join Discord</h1>
		</a>
	</div>
	<div class="hero">
		<h1>Section 2</h1>
	</div>
	<div class="hero">
		<h1>Section 3</h1>
	</div>
	<div class="hero">
		<h1>Section 4</h1>
	</div>
</div>

<style lang="scss">
	.container {
		display: grid;
		padding-bottom: 3rem;
	}

	.background {
		background: cornflowerblue;
		height: 80vh;
		padding-top: 0;
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.landing-card {
		background: var(--primary-color);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 10rem;
		height: 4rem;
		border-radius: 10px;
		background: var(--secondary-color);
		text-decoration: none;
	}

	.landing-card:hover {
		box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
	}

	.landing-card h1 {
		font-size: 24px;
	}

	.hero {
		grid-column-start: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card {
		background: var(--primary-color);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 12rem;
		height: 5rem;
		border-radius: 10px;
		background: var(--secondary-color);
	}
</style>
