<svelte:head>
	<title>Projects | Petracord</title>
</svelte:head>

<div class="container">
	<h1>2021 Projects</h1>
	<ul>
		<li>
			<a href="/projects/2021/video">
				<div class="project-card">
					<h1>Video project</h1>
					<p>text</p>
				</div>
			</a>
		</li>
	</ul>
	<h1>2022 Projects</h1>
	<ul>
		<li>
			<a href="/projects/2022/yosetti">
				<div class="project-card">
					<h1>Yosetti</h1>
					<p>text</p>
				</div>
			</a>
		</li>
	</ul>
</div>

<style lang="scss">
	.container {
		margin-top: 3rem;
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	.project-card {
		width: 200px;
		padding: 1em;
		background: var(--primary-content-color);
		color: var(--primary-content-text-color);
	}

	.project-card:hover {
		box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
	}

	a {
		color: var(--primary-content-text-color);
	}

	a:hover {
		text-decoration: none;
	}
</style>
