---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Anchor from '../components/Anchor.astro';
import Discord from '../assets/Discord.astro'
import Email from '../assets/Email.astro'
import GitHub from '../assets/GitHub.astro'
import Terminal from '../assets/Terminal.astro'
import ProfilePicture from '../assets/ProfilePicture.png'
---

<Layout title="Shane Brown">
	<section>
		<header>
			<Image alt="Shane's avatar" src={ProfilePicture}/>
			<h1>Shane Brown</h1>
			<p>Full-stack Developer</p>
		</header>
		<Card>
			<Anchor title="GitHub" class="button" href="https://github.com/killbasa" external>
				<GitHub/>
			</Anchor>
			<Anchor
				title="Discord"
				class="button"
				href="https://discordapp.com/users/137657554200166401"
				external
			>
				<Discord/>
			</Anchor>
			<Anchor title="Email" class="button" href="mailto:contact@shaneb.xyz">
				<Email/>
			</Anchor>
			<Anchor
				title="Dotfiles"
				class="button"
				href="https://github.com/killbasa/dotfiles"
				external
			>
				<Terminal/>
			</Anchor>
		</Card>
	</section>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		height: 70vh;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		border-radius: 100%;
		max-width: 128px;
		max-height: 128px;
		margin-bottom: 0.5rem;
	}
</style>
