@import 'tailwindcss';

@theme {
	--background: rgba(38, 41, 60, 1); /* #26293C */
	--background-alt: rgba(26, 26, 29, 1); /* #1a1a1d; */
	--color-text: rgba(255, 255, 245, 0.86); /* #fffff5 */
}

@font-face {
	font-family: 'Inter';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src:
		url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
}

@layer base {
	:root {
		font-family: 'Inter', sans-serif;
	}

	h1 {
		font-size: 20pt;
		font-weight: 800;
	}

	h2 {
		font-size: 16pt;
		font-weight: 500;
	}

	h3 {
		font-size: 14pt;
		font-weight: 500;
	}
}

@utility bg-primary {
	background-color: var(--background);
}

@utility bg-alt {
	background-color: var(--background-alt);
}

@utility text-primary {
	color: var(--color-text);
}

@utility anchor {
	color: #739fff;
	text-decoration: underline;

	&:hover {
		color: #a8c4ff;
	}
}
