@import 'tailwindcss';

@theme {
	--font-family: 'Inter', sans-serif;

	--background: rgb(38, 41, 60); /* #26293C */
	--background-alt: #1a1a1d;
	--color-text: rgba(255, 255, 245, 0.86);

	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@font-face {
	font-family: 'Inter';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src:
		url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
}

@layer base {
	:root {
		font-family: var(--font-family);
	}

	h1 {
		font-size: 20pt;
		font-weight: 800;
	}

	h2 {
		font-size: 16pt;
		font-weight: 500;
	}

	h3 {
		font-size: 14pt;
		font-weight: 500;
	}
}

@utility bg-primary {
	background-color: var(--background);
}

@utility bg-alt {
	background-color: var(--background-alt);
}

@utility text-color-text {
	color: var(--color-text);
}

@utility button {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;

	border-radius: 9999px;

	background-color: #deddda1a;
	color: #deddda;

	&:hover {
		backdrop-filter: brightness(70%);
	}
}

@utility anchor {
	color: #739fff;
	text-decoration: underline;

	&:hover {
		color: #a8c4ff;
	}
}
